<div id="option-header">
    <h2 mat-dialog-title>Category</h2>
    <button mat-icon-button>
        <mat-icon fontIcon="close" (click)="onClickClose()"></mat-icon>
    </button>
</div>
<div id="option-container">
    <mat-form-field id="category-input">
        <mat-label>Category:</mat-label>
        <input matInput />
    </mat-form-field>
    <mat-dialog-actions>
        <button mat-button cdkFocusInitial>Add</button>
    </mat-dialog-actions>
    <!--
    <mat-action-list>
        <button mat-list-item>
            Add Category
        </button>
    </mat-action-list>
-->
</div>