#option-header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 330px;
}

#option-container{
    margin: 0 25px 25px 25px;
}

#category-input{
    width: 100%;
}