#option-header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 330px;
}

#option-container{
    margin: 0 25px 25px 25px;
}

.approval-container{
    margin: 0 25px 25px 25px;
    color: red;
    font-weight: bold;
    display: none;
}