#option-header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 330px;
}

#option-container{
    margin: 0 25px 25px 25px;
}

.approval-container{
    margin: 0 25px 25px 25px;
    color: #b90c0c;
    font-weight: bold;
    transition: all 1s;
}

.no-display{
    display: none;
}

#option-area{
    display: flex;
    justify-content: space-evenly;
}
