<header>
  <div id="header-label">
    To Do List: {{selected_category}}
  </div>
  <div id="header-icon">
    <button id="button-menu-icon" mat-icon-button [matMenuTriggerFor]="menu">
      <mat-icon id="menu-icon" fontIcon="menu"></mat-icon>
    </button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item (click)="openCategoryDialog()">Add a Category</button>
    </mat-menu>
  </div>
</header>
<div id="side-nav-container">
    <mat-sidenav class="side-nav" mode="side" opened>
      <mat-action-list>
        @for (category of categories; track category){
          <button mat-list-item (click)="categorySelect($event)">
            {{category}}
          </button>
        }
      </mat-action-list>
    </mat-sidenav>
</div>