#main-task-container{
    float: left;
    display: flex;
    justify-content: space-between;
    height: calc(100% - 100px);
    padding: 25px 25px;
    width: calc(100% - 300px);
}

/*Styling for Task List*/

.task-list{
    min-width: 500px;
    width: 40%;
    max-height: inherit;
    overflow: overlay;
}

.incomplete-task-list{
    height: 50%;
}

.incomplete-task-list-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.complete-task-list{
    height: 50%;
}


/*Styling for Task form*/

.task-form-container{
    margin-left: 30px;
    width: 55%;
    min-width: 500px;
    height: inherit;
    overflow-y: hidden;
}


.form-container{
    display: flex;
    flex-direction: column;
    margin: 25px 25px;
    min-width: 420px;
    width: inherit;
}

textarea{
    min-height: 50px;
    max-height: 200px;
}

.split-container{
    display: flex;
    justify-content: space-between;
}

#left-side{
    width: 40%;
}

#left{
    width: 100%;
}

#right-side{
    width: 40%;
}

#right{
    width: 100%;
}

.button-container{
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 200px;
}